body{
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Redressed', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}
section{
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
p{
    margin-top: 20px;
    margin-bottom: 40px;
}

.link-btn{
    text-decoration: none;
    padding: 10px 30px;
    background-color: darkorange;
    border-radius: 8px;
    
}

.salmon{
    color: salmon;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.top-section{
    display: flex;
    margin: 20px;
}

img{
    width: 80%;
}

.left-line{
    border-left: 4px solid;
    border-image: linear-gradient(salmon,Red);
    border-image-slice: 1;
}
.left-line h1{
    margin-left: 20px;
}

.my-mission-area h1{
    text-align: center;
}
.my-mission{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
.mission-item{
    border-radius: 10px;
    padding: 10px;
}
.mission-item img{
    width: 40%;
}
#mission{
    background-color: #faf9b1;
}
#vission{
    background-color: #82b8ff;
}
#goals{
    background-color: #f8aa8d;
}


.unilimited-development{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.development-details{
    padding-top: 60px;
}
